@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* https://www.jordanprindledesigns.com/blog/color-palettes */

  /* --main-background: #0c2431;
  --main-text: #e1dad2;
  --card-background: #194a50;
  --card-text: #e1dad2;
  --header: #d8a28c;
  --quote: #194a50;
  --line: #d37556; */

  /* --main-background: #565c5e;
  --main-text: #b5c2c7;
  --card-background: #455954;
  --card-text: #dfdbd8;
  --header: #dfdbd8;
  --quote: #194a50;
  --line: #d37556; */

  /* --main-background: #514c4a;
  --main-text: #dad5d2;
  --card-background: #a4998c;
  --card-text: #514c4a;
  --header: #dfdbd8;
  --quote: #194a50;
  --line: #c78a44; */

  --main-background: #1b1719;
  --main-text: #b69b7d;
  --card-background: #393d3a;
  --card-text: #d4d6d5;
  --header: #b69b7d;
  --quote: #393d3a;
  --line: #b69b7d;
}
li {
  list-style: none;
}
h1,
h2,
h3 {
  color: var(--header);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif, -apple-system,
    BlinkMacSystemFont;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  background-color: var(--main-background);
  color: var(--main-text);
  margin: 0%;
  padding: 0%;
  width: 100vw;
  /* background: var(--bg-color);
  color: var(--text-color); */
  max-width: 100vw;
  overflow-x: hidden;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .colorRed {
  color: var(--red);
} */

.container {
  display: flex;
  width: 100%;
}

@media (orientation: portrait) {
  .container {
    min-width: 350px;
  }
}
.containerCont {
  max-width: 1109px;
  direction: ltr;
}

/**/
.sectionCont {
  font-size: 0.96rem;
  margin-bottom: 3rem;
}
.sectionCont h2 {
  font-size: 2.56rem;
  text-transform: capitalize;
  position: relative;
  padding-bottom: calc(0.48em + 8px);
}
.sectionCont h2::before {
  content: "";
  height: 4px;
  position: absolute;
  bottom: calc(0.32em + 4px);
  left: 0;
  background-color: var(--line);
  width: 100px;
}
.sectionCont h2::after {
  content: "";
  height: 4px;
  position: absolute;
  bottom: 0.16em;
  left: 0;
  background-color: var(--line);
  width: 50px;
}

.sectionCont h3 {
  font-size: 1.6rem;
}

.sectionCont h4 {
  font-size: 1.2rem;
  opacity: 0.9;
}

.sectionCont h5 {
  font-size: 1.04rem;
  font-weight: 600;
}
.sectionCont h5 > span {
  opacity: 0.9;
}

/*About*/
.sectionContAbout {
  margin-top: 3rem;
}
@media (orientation: portrait) {
  .sectionContAbout {
    margin-top: calc(1rem + 5vh);
  }
}
.sectionContAbout h3 {
  margin-top: 0.8em;
  margin-bottom: 0.6em;
}
.sectionContAbout p {
  font-size: 1.04rem;
  margin-bottom: 0.77em;
  line-height: 1.4em;
}
.sectionContAbout p > strong {
  font-weight: 600;
  color: var(--line);
  cursor: pointer;
}

.sectionContAbout p:last-child {
  margin-bottom: 0;
}

/*end of about*/
/*Experience and Education*/
.rowFlexRes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardContainer {
  margin-top: 1.3em;
  width: 100%;
  display: flex;
}
.card {
  width: 100%;
  padding: 1.2em;
  border-radius: 0.9rem;
  background-color: var(--card-background);
  color: var(--card-text);
}
.card h1,
.card h2,
.card h3 {
  color: var(--card-text);
}
.sectionContExperience,
.sectionContEducation {
  width: 100%;
}

.sectionContExperience .card,
.sectionContEducation .card {
  padding-left: 2em;
}

.sectionContExperience h3,
.sectionContEducation h3 {
  margin: 0.4em 0;
}
.sectionContExperience h5,
.sectionContEducation h5 {
  position: relative;
}
.sectionContExperience h5::before,
.sectionContEducation h5::before {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  top: calc(0.6em - 0.5rem);
  left: calc(-1.8rem - 0.5rem - 5px);
  background-color: var(--line);
  border-radius: 100%;
}

.sectionContExperience .cardContent,
.sectionContEducation .cardContent {
  position: relative;
  padding-left: 1.8rem;
}
.sectionContExperience .cardContent::before,
.sectionContEducation .cardContent::before {
  content: "";
  height: calc(100% - 0.78125rem);
  position: absolute;
  top: 0.78125rem;
  left: 0;
  background-color: var(--line);
  width: 1px;
}

.cardContent > .cardCont {
  margin-bottom: 2.4em;
}
.cardContent > .cardCont:last-child {
  margin-bottom: 0;
}
.cardContent > .cardCont ul {
  padding-left: 1em;
  margin-top: 0.6em;
}
.cardContent > .cardCont ul > li {
  margin-bottom: 0.3em;
}

.cardContent > .cardCont ul > li:last-child {
  margin-bottom: 0;
}
.cardContent > .cardCont ul > li > span:nth-child(2) {
  opacity: 0.8;
}

/*end of Experience and Education*/
.sectionContSkills {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sectionContSkills h3 {
  margin-bottom: 1em;
  line-height: 0.97em;
}

.sectionContSkills .card {
  padding: 1.2em 1.67em;
}

@media (max-width: 1223px) {
  .sectionContExperience .card,
  .sectionContEducation .card {
    padding-right: 0.9em;
    padding-left: 1.8em;
  }
}

@media (max-width: 1043px) {
  .breakMainTechOverall {
    flex-direction: column;
  }
  .breakMainTechOverall .cardContainer:first-child,
  .breakMainTechOverall .cardContainer:nth-child(2) {
    margin-right: auto;
    margin-left: auto;
  }
  .breakMainTechOverall .cardContainer:nth-child(2) {
    margin-top: 2em;
  }
}
.target {
  height: 3.58625rem;
  width: 100%;
  margin-top: -3.58625rem;
  visibility: hidden;
}

.cardCont {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 10px;
  padding: 10px;
  /* display: inline; */
}

.cardCont > h5 {
  display: flex;
  align-items: center;
}

.cardCont > .timeline h5 svg {
  margin-right: 5px;
  float: left;
}
.cardCont > .timeline h5 span {
  display: inline;
}

.cardCont > .timeline h5 svg > path {
  fill: var(--card-text);
}

.skill-card .skill-section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  /* align-items: center; */
}

.skill-section::after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0em;
  left: 0;
  background-color: var(--line);
  width: 50%;
}

.skill-section:last-child::after {
  /* content: ""; */
  display: none;
}

.skill-card h3 {
  font-size: 20px;
}

.App {
  /* z-index: 100; */
  margin: 0%;
  padding: 0%;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  align-items: center;
}

.display {
  /* z-index: 10; */
  flex-direction: column;
  width: 100vw;
  padding: 4vh 5vw;
  height: 100%;
  display: inline-block;
  padding-left: 36vw;
  padding-right: 5vw;
}

@media (max-width: 660px) {
  .display {
    width: 100%;
    padding: 4vh 5vw;
  }
  .quote {
    display: none;
  }
}

@media (orientation: landscape) and (max-width: 1000px) {
  .display {
    width: 100%;
    padding: 4vh 5vw;
  }
}

.quote-container {
  display: flex;
  flex-direction: column;
  color: var(--quote);
  font-size: 15px;
  padding-left: 160px;
  font-style: italic;
  text-align: justify;
}

.quote-container span {
  direction: rtl;
  padding-right: 100px;
}

/* grid */

.node {
  width: 5vh;
  height: 5vh;
  /* background-color: white; */
  outline: 1px solid rgba(161, 144, 175, 0.75);
  display: grid;
}
.grid-row {
  display: flex;
}
.grid {
  top: 0;
  right: 0;
  position: fixed;
  text-align: center;
  z-index: -1;
}

.tooltip {
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: var(--main-text);
  color: var(--main-background);
  text-align: center;
  border-radius: 4px;
  padding: 7px;
  font-size: 12px;
  /* Position the tooltip */
  position: absolute;
  top: -40px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
